@charset "utf-8";
/* CSS Document */

* {
	margin: 0;
	padding: 0;
	/*overflow: hidden;*/
}

#start-button {
	background: #FF8900;
	color: white;
	padding: 0 10px;
}

image {
	width: 100%;
}

.body-background {
	background-image: url("../IMG/background.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}

.suburb-heading {
	color: white;
}

#suburb-heading {
	text-align: center;
	color: white;
}